@import '../../scss/variables';

.deals {
  padding: $padding-container;
  background-color: white;
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

%table {
  & span {
    width: 33.333%;
    display: flex;
    justify-content: flex-end;

    &:first-child {
      justify-content: flex-start;
    }
  }
}

.option {
  @extend %table;

  display: flex;
  color: #aaa;
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 8px;
  padding: 0 12px;
}

.content {
  height: 100%;
  overflow: auto;
  box-shadow: $scroller-shadow;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.item {
  @extend %table;

  display: flex;
  padding: 6px 12px;
  font-size: 0.9em;
}

.green {
  color: $green;
}

.red {
  color: $red;
}
